<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>About NTU Singapore
A research-intensive public university, Nanyang Technological University, Singapore (NTU Singapore) 
has 33,000 undergraduate and postgraduate students in the Engineering, Business, Science, Medicine, 
Humanities, Arts, & Social Sciences, and Graduate colleges.
NTU is also home to world-renowned autonomous institutes – the National Institute of Education, 
S Rajaratnam School of International Studies and Singapore Centre for Environmental Life Sciences Engineering
and various leading research centres such as the Earth Observatory of Singapore, Nanyang Environment & Water Research Institute
and Energy Research Institute @ NTU (ERI@N).
Under the NTU Smart Campus vision, the University harnesses the power of digital technology and tech-enabled solutions
to support better learning and living experiences, the discovery of new knowledge, and the sustainability of resources.
Ranked amongst the world’s top universities, the University’s main campus is also frequently listed
among the world’s most beautiful. Known for its sustainability, NTU has achieved 100% Green Mark Platinum certification for all its eligible building projects. 
Apart from its main campus, NTU also has a medical campus in Novena, Singapore’s healthcare district.
</h1>
<p><img src="https://media.istockphoto.com/id/1369652747/photo/night-view-of-chongqing-riverside-at-night.jpg?s=2048x2048&w=is&k=20&c=wE1kIA1pJAUibFUdwZ4ltnZvW07EyLcA396n5QVxZYY="
  width="300" height="200"></p>
</div>
