<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>About NTU Singapore
NTU is a home to world-renowned autonomous institutes – the National Institute of Education, S Rajaratnam School of International Studies and Singapore Centre for Environmental Life Sciences Engineering

and various leading research centres such as the Earth Observatory of Singapore, Nanyang Environment & Water Research Institute.

Under the NTU Smart Campus vision, the University harnesses the power of digital technology and tech-enabled solutions to support better learning and living experiences, the discovery of new knowledge, and the sustainability of resources.
</h1>

<p><img src="https://p0.itc.cn/q_70/images03/20210627/247c92e6c7834f62a9e8f91fbc07f14d.jpeg" width="400" height="300"></p>
    
<form action="/main" method="post">
    <input type = "submit" value="Main" style="width:200px;height:100px;">
</form>
    
<form action="/end" method="post">
    <input type = "submit" value="End" style="width:200px;height:100px;">
</form>
</div>
